[Desktop Entry]
Name=Obelus
Comment=Local-first desktop AI agent
Exec=/usr/lib/obelus/Obelus %U
Icon=/usr/share/pixmaps/obelus.png
Terminal=false
Type=Application
Categories=Utility;Development;
MimeType=x-scheme-handler/obelus;
